img {border: 0 none; vertical-align:top}
a {text-decoration:none}
h2 {font-size:20px;}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #003868;
	background-color: #ffffff;
	margin: 6mm;
}
#login {
    width: 50%;
	margin: auto;
}